# --- Base de données Neon ---
DATABASE_URL=postgresql://neondb_owner:npg_0hUbnVpr7dfX@ep-tiny-star-ayoflqic-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# --- Serveur ---
PORT=4000
NODE_ENV=development

# --- Orange SMS Cameroon 2.0 (All Operators) ---
ORANGE_CLIENT_ID=Q59ML8aAVmLXiABRObFNGR0vkacQ5KKL
ORANGE_CLIENT_SECRET=n3kfXZuao6DwrhEGqBM9OLSWNlygvt7rWgpVdRkKs9sB
ORANGE_AUTHORIZATION=Basic UTU5TUw4YUFWbUxYaUFCUk9iRk5HUjB2a2FjUTVLS0w6bjNrZlhadWFvNkR3cmhFR3FCTTlPTFNXTmx5Z3Z0N3JXZ3BWZFJrS3M5c0I=
ORANGE_SMS_SENDER=tel:+2370000

# Numéro(s) de téléphone des serveuses qui recevront le SMS de commande
STAFF_PHONE_NUMBERS=+237659495889

FRONTEND_BASE_URL=http://localhost:5500
