DATABASE_URL=postgresql://user:password@ep-xxxxx.eu-central-1.aws.neon.tech/laforcedupoulet?sslmode=require
PORT=4000
NODE_ENV=development

ORANGE_CLIENT_ID=
ORANGE_CLIENT_SECRET=
ORANGE_AUTHORIZATION=

STAFF_PHONE_NUMBERS=+237600000000,+237600000001

FRONTEND_BASE_URL=http://localhost:5500
